<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <style media="screen">
    *{
      background-color: #ffffff;
    }
      h1{
        text-align: center;
        color: darkblue;
      }
    </style>
  </head>
  <body>
    <nav>
      <%= link_to('Home Page', {:action => 'index'}) %>
    </nav>

    <%= form_tag("/search", method: "get") do %>
      <%= label_tag(:q, "Search for:") %>
      <%= text_field_tag(:q) %>
      <%= submit_tag("Search") %>
    <% end %>


<!-- <form accept-charset="UTF-8" action="/search" method="get">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <label for="q">Search for:</label>
  <input id="q" name="q" type="text" />
  <input name="commit" type="submit" value="Search" />
</form> -->
    <h1>hello world from Hello template</h1>
    <h1><%= 1 + 1 %></h1>
    <% target = "World"%>
    <h1><%= "Hello #{target}"  %></h1>

  <h1> it is three times : <%=
    3.times do |n|
      puts n
    end
    %></h1>

    <h1>
      <% @array.each do |n| %>
        <%= n %><br>
      <%end%>
    </h1><br>
    <h1>
      ID: <%= @id %><br>
      ID: <%= params[:id]%><br>
      Page: <%= @page %><br>
      NxtPage: <%= @page.to_i + 1 %>
    </h1>


  </body>
</html>
