<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<% if !flash[:notice].blank? %>
    <div class="alert alert-success">
        <%= flash[:notice]%>
    </div>
<% end %>

<div class="pages index">
  <h2>Sections</h2>
  <%= link_to("Add new Section", new_section_path, :class => 'action new')%><br /><br />

  <table class="table" summary="Section list">
    <tr class="header">
      <th>#</th>
      <th>page ID</th>
      <th>Subject ID</th>
      <th>Section</th>
      <th>Visible</th>
      <th>Actions</th>
    </tr>
    <% @sections.each do |section| %>

    <tr>
      <td><%= section.position%></td>
      <td><%= section.page_id%></td>
      <td><%= section.name%></td>
      <td class="center"><%= section.visible ? 'yes' : 'no'%></td>
      <td class="actions">
        <%= link_to("Show", section_path(section), :class => 'action show')%> |
        <%= link_to("Edit", edit_section_path(section), :class => 'action edit')%> |
        <%= link_to("Delete", delete_section_path(section), :class => 'action delete')%>
      </td>
    </tr>
    <% end %>
  </table>
</div>
