<% if !flash[:notice].blank? %>
  <div <% if !flash[:notice].blank? %>
    <div class="alert alert-warning" role="alert">
        <%= flash[:notice]%>
    </div>
    <% end %>>
      <%= flash[:notice]%>
  </div>
  <% end %>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous">
<%= link_to('<< back to List ', subjects_path, :class => 'black-line')%>
<div class="subjects delete">
  <h2>Delete Subject</h2>
  <%= form_for(@subject, :url => subject_path(@subject), :method => 'delete') do |f| %>
    <p>Are you sure you want <em>DELETE</em>this subject ?</p>
    <!-- we can use in another way -->
    <!-- <p class="reference-name"><%= @subject.name%></p> -->
    <p class="reference-name"><%= f.object.name%></p>
    <div class="form-buttons">
      <%= f.submit("Delete Subject", :class => "btn btn-danger")%>
    </div>
  <% end %>
</div>
